* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  /* background: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
}

header h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #00c6ff;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero span {
  color: #0037ff;
  font-weight: 700;
}

.hero p {
  font-size: 1.1rem;
  max-width: 600px;
  opacity: 0.8;
  margin-top: 10px;
}

section {
  padding: 100px 50px;
}

h3.sectiontitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

h3.sectiontitle::after {
  content: '';
  width: 60px;
  height: 3px;
  background: #00c6ff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.aboutcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}


.aboutcontent p {
  line-height: 1.7;
  color: #dcdcdc;
}

.projectsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.projectcard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 25px;
  transition: 0.3s ease;
  cursor: pointer;
}

.projectcard:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.15);
}

.projectcard h4 {
  margin-bottom: 10px;
  color: #00c6ff;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

button {
  padding: 12px;
  border: none;
  background: #00c6ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0072ff;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

